# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sh-pc\Desktop\תואר מדמח\קורסים תואר\Advanced JAVA\JAVA Projects\mmn15\Q1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
